# MariaDB연결

---
- id = 카운트
- code = 종목코드
- name = 종목명
- date = 날짜
- time = 시간

- startprice = 시가
- highprice = 고가
- lowprice = 저가
- endprice = 종가
- tradecount = 거래량

- sma5 = 5일간 이동평균
- sma20 = 20일간 이동평균
- rsi = 상대강도지수
- macd = 이동 평균 수렴 발산
- aroonup = 기간의 최고점 추세 추종 지표
- aroondn = 기간의 최저점 추세 추종 지표

- GST = 083450
- 고영 = 098460
- 싸이맥스 = 160980
- 네패스= 033640
- 데이타솔루션 = 263800

In [4]:
import pymysql

In [5]:
# 전역변수 선언부
conn = None
cur = None

sql = ""

In [6]:
# 메인 코드

# 접속 정보
conn = pymysql.connect(host='34.64.50.78', user='root', password='GYALS99!',db='big16')

# 커서 생성
cur = conn.cursor()

#### 주식 데이터(분 단위) 테이블 SQL문
    create table stockmindata263800(id int unsigned not null auto_increment,
    code varchar(10) not null,
    name varchar(100) not null,
    date int not null,
    time int not null,
    startprice int not null,
    highprice int not null,
    lowprice int not null,
    endprice int not null,
    tradecount int not null,
    primary key (id))default charset=utf8;

#### 주식 데이터(일 단위) 테이블
    create table stockhourdata263800(
    id int unsigned not null auto_increment,
    code varchar(10) not null,
    name varchar(100) not null,
    date int not null,
    time int not null,
    startprice int not null,
    highprice int not null,
    lowprice int not null,
    endprice int not null,
    tradecount int not null,
    primary key (id)
    )default charset=utf8;

#### 지표 데이터 테이블
    create table wordlabeling(
    id int unsigned not null auto_increment,
    code varchar(10) not null,
    name varchar(100) not null,
    date int not null,
    sma5 decimal(10, 20) not null,
    sma20 decimal(10, 20) not null,
    upper decimal(10, 20) not null,
    mavg decimal(10, 20) not null,
    lower decimal(10, 20) not null,
    rsi decimal(10, 20) not null,
    macd decimal(10, 20) not null,
    aroonup decimal(10, 20) not null,
    aroondn decimal(10, 20) not null,
    primary key (id)
    )default charset=utf8;

#### 뉴스 데이터 테이블
    create table rawnewsdata263800(
    id int unsigned not null auto_increment,
    date varchar(26) not null,
    title varchar(300) not null,
    text varchar(21000) not null,
    primary key (id)
    )default charset=utf8;

In [7]:
# 실행할 SQL문 
sql = """
    create table wordlabeling(id int unsigned not null auto_increment,
    code varchar(10) not null,
    name varchar(100) not null,
    date int not null,
    sma5 decimal(20, 10) not null,
    sma20 decimal(20, 10) not null,
    upper decimal(20, 10) not null,
    mavg decimal(20, 10) not null,
    lower decimal(20, 10) not null,
    rsi decimal(20, 10) not null,
    macd decimal(20, 10) not null,
    aroonup decimal(20, 10) not null,
    aroondn decimal(20, 10) not null,
    primary key (id))default charset=utf8;
"""
cur.execute(sql)

0

In [8]:

conn.commit()
conn.close()