In [19]:
import pandas as pd
import numpy as np

# 파일 불러오기
or_data = pd.read_csv('./셀바스AI 주식 데이터_preprocess.csv', encoding='euc-kr')

In [20]:
or_data.head()

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,SMA5,SMA20,UPPER,MAVG,LOWER,RSI,MACD,AROONUP,AROONDN
0,A108860,셀바스AI,20210709,901,4421.0,4435.0,4411.0,4435.0,973.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.87395,-15.880418,28.571429,0.0
1,A108860,셀바스AI,20210709,902,4411.0,4411.0,4372.0,4372.0,2718.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.87395,-15.880418,28.571429,0.0
2,A108860,셀바스AI,20210709,903,4372.0,4377.0,4358.0,4358.0,3614.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.87395,-15.880418,28.571429,0.0
3,A108860,셀바스AI,20210709,904,4358.0,4358.0,4329.0,4329.0,5120.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.87395,-15.880418,28.571429,0.0
4,A108860,셀바스AI,20210709,905,4324.0,4324.0,4276.0,4314.0,7357.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.87395,-15.880418,28.571429,0.0

In [27]:
def generate_custom_code(charts_data, training_data):
    # 데이터 전처리
    charts_data = pd.DataFrame(or_data, columns=['날짜', '시간', '시가', '고가', '저가', '종가', '거래량'])
    training_data = pd.DataFrame(or_data, columns=['SMA5', 'SMA20', 'UPPER', 'MAVG', 'LOWER', 'RSI', 'MACD', 'AROONUP', 'AROONDN'])
    data = pd.concat([charts_data, training_data], axis=1)
    
    # 입력 데이터, 출력 데이터 분리
    x_columns = chart_data.columns.tolist() + training_data.columns.tolist()
    y_columns = ['종가']
    x_data = data[x_columns].values
    y_data = data[y_columns].values
    
    # # x_data 정규화 및 4D 텐서로 변환
    # x_data = x_data / 10000  # 정규화
    # x_data = x_data.reshape(-1, x_data.shape[1], 1, 1)  # 4D 텐서 변환 (batch_size, height, width, channel)

    # # y_data 정규화
    # y_data = y_data / 10000

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,SMA5,SMA20,UPPER,MAVG,LOWER,RSI,MACD,AROONUP,AROONDN
0,A108860,셀바스AI,20210709,901,4421.0,4435.0,4411.0,4435.0,973.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.873950,-15.880418,28.571429,0.000000
1,A108860,셀바스AI,20210709,902,4411.0,4411.0,4372.0,4372.0,2718.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.873950,-15.880418,28.571429,0.000000
2,A108860,셀바스AI,20210709,903,4372.0,4377.0,4358.0,4358.0,3614.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.873950,-15.880418,28.571429,0.000000
3,A108860,셀바스AI,20210709,904,4358.0,4358.0,4329.0,4329.0,5120.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.873950,-15.880418,28.571429,0.000000
4,A108860,셀바스AI,20210709,905,4324.0,4324.0,4276.0,4314.0,7357.0,4361.6,4366.6,4420.211934,4363.75,4307.288066,34.873950,-15.880418,28.571429,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163887,A108860,셀바스AI,20230719,1517,17730.0,17740.0,17720.0,17720.0,816879.0,17722.0,17721.0,17754.532998,17728.00,17701.467002,52.185327,9.400544,64.285714,0.000000
163888,A108860,셀바스AI,20230719,1518,17720.0,17740.0,17720.0,17720.0,819156.0,17720.0,17722.0,17753.153394,17727.00,17700.846606,52.185327,8.551255,57.142857,57.142857
163889,A108860,셀바스AI,20230719,1519,17730.0,17730.0,17720.0,17720.0,820053.0,17720.0,17722.0,17753.153394,17727.00,17700.846606,52.185327,7.788408,50.000000,50.000000
163890,A108860,셀바스AI,20230719,1520,17720.0,17750.0,17720.0,17740.0,820973.0,17724.0,17725.0,17754.239484,17727.50,17700.760516,57.425180,8.697420,42.857143,100.000000
163891,A108860,셀바스AI,20230719,1530,17740.0,17740.0,17740.0,17740.0,820973.0,17728.0,17728.0,17755.276363,17728.00,17700.723637,57.425180,9.310494,35.714286,92.857143

In [ ]:
def normalize_data(dataset):
        cols = dataset.columns.tolist()
        col_name = [0]*len(cols)
        for i in range(len(cols)):
            col_name[i] = i
        dataset.columns = col_name
        dtypes = dataset.dtypes.tolist()
        minmax = list()
        for column in dataset:
            dataset = dataset.astype({column: 'float32'})
        for i in range(len(cols)):
            col_values = dataset[col_name[i]]
            value_min = min(col_values)
            value_max = max(col_values)
            minmax.append([value_min, value_max])
        for column in dataset:
            values = dataset[column].values
            for i in range(len(values)):
                values[i] = (values[i] - minmax[column][0]) / (minmax[column][1] - minmax[column][0])
            dataset[column] = values
        dataset[column] = values
        return dataset,minmax
    
dataset,minmax = normalize_data(df)
print(df.values)
values = dataset.values

In [ ]:
def split_sequences(sequence, n_steps):
    X, y = list(), list()
    for i in range(len(sequence)):
        end_ix = i + n_steps
        if end_ix > len(sequence)-1:
            break
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return np.array(X), np.array(y)
def data_setup(n_steps, n_seq,sequence):
    X, y = split_sequences(sequence, n_steps)
    n_features = X.shape[2]
    X = X.reshape((len(X),n_steps, n_features))
    new_y = []
    for term in y:
        new_term = term[-1]
        new_y.append(new_term)
    return X, np.array(new_y), n_features
n_steps = 10
n_seq = 10000
rel_test_len = 0.1
X,y,n_features = data_setup(n_steps,n_seq,values)
X = X[:-1]
y = y[1:]
X_test,y_test = X[:int(len(X)*rel_test_len)],y[:int(len(X)*rel_test_len)]
X_train,y_train = X[int(len(X)*rel_test_len):],y[int(len(X)*rel_test_len):]
X.shape

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Dropout
from keras.layers import LSTM
model = Sequential()
model.add(LSTM(64, activation=None, input_shape=(10,4), return_sequences = True))
model.add(LSTM(32, activation=None, return_sequences = True))
model.add(Flatten())
model.add(Dense(100, activation=None))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='mse', optimizer='adam')

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Dropout
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
model = Sequential()
model.add(Conv1D(filters=128, kernel_size=3, activation='relu', input_shape=(10,4)))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(100, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='mse', optimizer='adam')

In [ ]:
import os
from keras import callbacks
epochs = 5000
verbosity = 2
dirx = 'XXXXXXX'
os.chdir(dirx)
h5 = 'network.h5'
checkpoint = callbacks.ModelCheckpoint(h5,
                                       monitor='val_loss',
                                       verbose=0,
                                       save_best_only=True,
                                       save_weights_only=True,
                                       mode='auto',
                                       period=1)
callback = [checkpoint]
json = 'network.json'
model_json = model.to_json()
with open(json, "w") as json_file:
    json_file.write(model_json)
history = model.fit(X_train,
                    y_train,
                    epochs=epochs,
                    batch_size=len(X_train) // 4,
                    validation_data = (X_test,y_test),
                    verbose=verbosity,
                    callbacks=callback)

In [ ]:
from keras.models import load_model, model_from_json
def load_keras_model(optimizer):
    dirx = 'XXXXXXX'
    os.chdir(dirx)
    json_file = open('Convnet.json', 'r')
    loaded_model_json = json_file.read()
    json_file.close()
    model = model_from_json(loaded_model_json)
    model.compile(optimizer=optimizer, loss='mse')
    model.load_weights('Convnet.h5')
    return model
model = load_keras_model('adam')

In [ ]:
model.evaluate(X_test,y_test)

In [ ]:
from matplotlib import pyplot as plt
pred_test = model.predict(X_test)
plt.plot(pred_test,'r')
plt.plot(y_test,'g')