In [3]:
import pandas as pd
import redis
import pickle

In [2]:
dataDf = pd.read_csv('./32bit/hapminstockdata/데이타솔루션 분 단위 주식 데이터.csv', encoding='euc-kr')
dataDf

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량
0,A263800,데이타솔루션,20210629,901,7300.0,7300.0,7210.0,7210.0,180.0
1,A263800,데이타솔루션,20210629,902,7250.0,7250.0,7140.0,7140.0,2121.0
2,A263800,데이타솔루션,20210629,903,7140.0,7190.0,7130.0,7190.0,2791.0
3,A263800,데이타솔루션,20210629,904,7190.0,7230.0,7190.0,7230.0,2791.0
4,A263800,데이타솔루션,20210629,905,7230.0,7230.0,7220.0,7220.0,2805.0
...,...,...,...,...,...,...,...,...,...
146180,A263800,데이타솔루션,20230707,1233,6000.0,6000.0,6000.0,6000.0,216762.0
146181,A263800,데이타솔루션,20230707,1233,6000.0,6010.0,5970.0,5970.0,216840.0
146182,A263800,데이타솔루션,20230707,1234,5980.0,5980.0,5980.0,5980.0,216840.0
146183,A263800,데이타솔루션,20230707,1235,5990.0,5990.0,5990.0,5990.0,216840.0
146184,A263800,데이타솔루션,20230707,1236,5990.0,5990.0,5980.0,5990.0,216860.0

In [5]:
dataDf[:2]

      종목코드     종목명        날짜   시간      시가      고가      저가      종가     거래량
0  A263800  데이타솔루션  20210629  901  7300.0  7300.0  7210.0  7210.0   180.0
1  A263800  데이타솔루션  20210629  902  7250.0  7250.0  7140.0  7140.0  2121.0

In [6]:
redis_client = redis.StrictRedis(host='localhost', port=6388, db=0)
redis_client.set('my_dataframe', pickle.dumps(dataDf[:2]))

True

In [7]:
redis_client = redis.StrictRedis(host='localhost', port=6388, db=0)
pickled_df = redis_client.get('my_dataframe')
if pickled_df:
    loaded_df = pickle.loads(pickled_df)
    print(loaded_df)

      종목코드     종목명        날짜   시간      시가      고가      저가      종가     거래량
0  A263800  데이타솔루션  20210629  901  7300.0  7300.0  7210.0  7210.0   180.0
1  A263800  데이타솔루션  20210629  902  7250.0  7250.0  7140.0  7140.0  2121.0