In [22]:
import numpy as np
import pandas as pd

In [23]:
skhnis = pd.read_csv('../고범희/SK하이닉스 주식 데이터.csv'
                     , header=0
                     , encoding='euc-kr'
)
skhnis.head()

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,거래대금,누적체결매도수량,누적체결매수수량
0,A000660,SK하이닉스,20210616,901,128000.0,128500.0,127500.0,127500.0,30265.0,49670.0,0.0,0.0
1,A000660,SK하이닉스,20210616,902,127500.0,128000.0,127500.0,127500.0,31521.0,50538.0,0.0,0.0
2,A000660,SK하이닉스,20210616,903,127500.0,128000.0,127500.0,128000.0,32558.0,51335.0,0.0,0.0
3,A000660,SK하이닉스,20210616,904,128000.0,128000.0,127500.0,128000.0,34810.0,52083.0,0.0,0.0
4,A000660,SK하이닉스,20210616,905,128000.0,128000.0,127500.0,127500.0,88528.0,52996.0,0.0,0.0

In [24]:
skhnis_invest = pd.read_csv('../고범희/SK하이닉스 주식 데이터(투자주체별).csv'
                     , header=0
                     , encoding='euc-kr'
)
skhnis_invest.head()

,종목코드,종목명,날짜,개인,외국인,기관계,금융투자,보험,투신,은행,기타금융,연기금,기타법인,기타외인,사모펀드
0,A000660,SK하이닉스,20220623,131309,-783362,637219,654235,-14259,23074,13651,2861,-63132,14919,-85,20789
1,A000660,SK하이닉스,20220624,9741,-976492,959927,1042101,-14090,35497,19456,966,-239951,6329,495,115948
2,A000660,SK하이닉스,20220627,-525143,729606,-201309,-213117,9382,64610,7224,118,-144503,-3250,96,74977
3,A000660,SK하이닉스,20220628,-454835,810547,-370661,-254380,-1253,58512,7721,1118,-247350,14128,821,64971
4,A000660,SK하이닉스,20220629,76313,75794,-176522,-187544,20020,25746,-1769,-1649,-34912,23990,425,3586

In [25]:
skhnis_invest = pd.read_csv('../고범희/SK하이닉스 주식 데이터(투자주체별).csv'
                     , header=0
                     , encoding='euc-kr'
)
skhnis_invest.head()

,종목코드,종목명,날짜,개인,외국인,기관계,금융투자,보험,투신,은행,기타금융,연기금,기타법인,기타외인,사모펀드
0,A000660,SK하이닉스,20220623,131309,-783362,637219,654235,-14259,23074,13651,2861,-63132,14919,-85,20789
1,A000660,SK하이닉스,20220624,9741,-976492,959927,1042101,-14090,35497,19456,966,-239951,6329,495,115948
2,A000660,SK하이닉스,20220627,-525143,729606,-201309,-213117,9382,64610,7224,118,-144503,-3250,96,74977
3,A000660,SK하이닉스,20220628,-454835,810547,-370661,-254380,-1253,58512,7721,1118,-247350,14128,821,64971
4,A000660,SK하이닉스,20220629,76313,75794,-176522,-187544,20020,25746,-1769,-1649,-34912,23990,425,3586